:root {
	--black: #181818;
	--yellow: #fcdc00;
	--dark-yellow: #b09b12;
	--pink: #fc19a0;
	--white: #fff;

	--alt-background-color: var(--yellow);
	--alt-text-color: var(--black);
	// --alt-link-color: var(--yellow);

	--background-color: var(--black);
	--text-color: var(--white);
	// --link-color: orange;
}
